@page
@model MyTravelBook.Web.Pages.Details.AccommodationModel
@{
    ViewData["Title"] = "Add Accommodation";
}
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<form method="post">
    <body class="accommodation-background background">
        <div class="row no-gutters bubble-row mt-5">
            <div class="col-3 glassy mr-auto">
                <div class="container">
                    <h3>
                        Accommodations
                    </h3>
                    <div class="row no-gutters">
                        <div class="col-3 ml-auto mr-auto">
                            Location
                        </div>
                        <div class="col-3 ml-auto mr-auto">
                            Nights
                        </div>
                    </div>
                    @foreach (var accommodation in Model.Accommodations.Accommodations)
                    {
                        <a asp-page="/Details/AccommodationDetails" asp-route-id="@accommodation.Id" class="row no-gutters selectable-row">
                            <div class="col-3 ml-auto mr-auto">
                                @accommodation.Location
                            </div>
                            <div class="col-3 ml-auto mr-auto">
                                @Model.GetNightsOfAccommodation(accommodation.Id)
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div class="col-5 glassy ml-auto mr-auto">
                <div class="container">
                    <h3>
                        Accommodation manager
                    </h3>
                    <div class="row">
                        <div class="col-4">
                            <h5>
                                Essentials
                            </h5>
                        </div>
                        <div class="col-4">
                            <h5>
                                Prices
                            </h5>
                        </div>
                        <div class="col-4">
                            <h5>
                                Summary
                            </h5>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5">
                            <input class="form-control" type="text" asp-for="@Model.NewAccommodation.Location" placeholder="Location" />
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" asp-for="@Model.NewAccommodation.PricePerNight" placeholder="Price per night €" />
                        </div>
                        <div class="col-3" style="text-align: left;">
                            Nights:
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5">
                            Check-in
                        </div>
                        <div class="col-4">
                            <label for="exampleFormControlSelect1">Transport type</label>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-3" style="padding-right:0px;">
                                    <input class="form-control" type="text" asp-for="@Model.NewAccommodation.StartDay" placeholder="dd" />
                                </div>
                                <div class="col-1" style="padding:0px;">
                                    <h3>
                                        /
                                    </h3>
                                </div>
                                <div class="col-3" style="padding: 0px;">
                                    <input class="form-control" type="text" asp-for="@Model.NewAccommodation.StartMonth" placeholder="mm" />
                                </div>
                                <div class="col-1" style="padding:0px;">
                                    <h3>
                                        /
                                    </h3>
                                </div>
                                <div class="col-4" style="padding-left:0px;">
                                    <input class="form-control" type="text" asp-for="@Model.NewAccommodation.StartYear" placeholder="yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="col-4 form-group">
                            <select asp-for="@Model.NewAccommodation.AccommodationType" class="form-control" id="exampleFormControlSelect1">
                                <option value="0">Own apartment</option>
                                <option value="1">Rented</option>
                            </select>
                        </div>
                        <div class="col-3" style="text-align: left;">
                            Participants:
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5">
                            Check-out
                        </div>
                        <div class="col-4">
                            <div>

                            </div>
                        </div>
                        <div class="col-3">

                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-3" style="padding-right:0px;">
                                    <input class="form-control" type="text" asp-for="@Model.NewAccommodation.EndDay" placeholder="dd" />
                                </div>
                                <div class="col-1" style="padding:0px;">
                                    <h3>
                                        /
                                    </h3>
                                </div>
                                <div class="col-3" style="padding:0px;">
                                    <input class="form-control" type="text" asp-for="@Model.NewAccommodation.EndMonth" placeholder="mm" />
                                </div>
                                <div class="col-1" style="padding:0px;">
                                    <h3>
                                        /
                                    </h3>
                                </div>
                                <div class="col-4" style="padding-left:0px;">
                                    <input class="form-control" type="text" asp-for="@Model.NewAccommodation.EndYear" placeholder="yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-3" style="text-align: left;">
                            Price/capita:
                        </div>
                    </div>
                    <div class="manager-add-button">
                        <button class="btn btn-dark">
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3 glassy ml-auto">
                <div class="container">
                    <h3>
                        Participants
                    </h3>
                    <div class="row h-75">
                        <div class="col-12">
                            <select class="custom-select participant-selector h-100" asp-for="@Model.SelectedParticipants" multiple="multiple">
                                @foreach (var p in Model.SelectableParticipants)
                                {
                                    <option value="@p.Value">@p.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12" style="text-align: center;">
                <a class="btn btn-dark mt-2" asp-page="/Trip" asp-route-id="@Model.Id">
                    Back to trip
                </a>
            </div>
        </div>
    </body>
</form>
</html>