@page
@model MyTravelBook.Web.Pages.Details.ExpenseModel
@{
    ViewData["Title"] = "Add Expense";
}
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<form method="post">
    <body class="expense-page background">
        <div class="row no-gutters bubble-row mt-5">
            <div class="col-3 glassy mr-auto">
                <div class="container">
                    <h3>
                        Expenses
                    </h3>
                    <div class="row no-gutters">
                        <div class="col-2 ml-auto mr-auto">
                            Location
                        </div>
                        <div class="col-4 ml-auto mr-auto">
                            Name
                        </div>
                        <div class="col-2 ml-auto mr-auto">
                            Price
                        </div>
                    </div>
                    @foreach (var expense in Model.Expenses.Expenses)
                    {
                        <div class="row no-gutters selectable-row">
                            <div class="col-2 ml-auto mr-auto">
                                @expense.Location
                            </div>
                            <div class="col-4 ml-auto mr-auto">
                                @expense.ExpenseName
                            </div>
                            <div class="col-2 ml-auto mr-auto">
                                @expense.Price €
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-5 glassy ml-auto mr-auto">
                <div class="container">
                    <h3>
                        Expense manager
                    </h3>
                    <div class="row">
                        <div class="col-7">
                            <h5>
                                Essentials
                            </h5>
                            <div class="row mb-1">
                                <div class="col-6">
                                    <input class="form-control" type="text" asp-for="@Model.NewExpense.Location" placeholder="Location" />
                                </div>
                                <div class="col-6">
                                    <input class="form-control" type="text" asp-for="@Model.NewExpense.Price" placeholder="Total Price €" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-6">
                                    <input class="form-control" type="text" asp-for="@Model.NewExpense.ExpenseName" placeholder="Expense name" />
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12">
                                    <textarea style="resize: none;" class="form-control" type="text" asp-for="@Model.NewExpense.Description" placeholder="Description" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <h5>
                                Summary
                            </h5>
                            <div class="col-12" style="text-align: left;">
                                Participants:
                                Price/capita
                            </div>
                        </div>
                    </div>
                    <div class="manager-add-button">
                        <button class="btn btn-dark">
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3 glassy ml-auto">
                <div class="container">
                    <h3>
                        Participants
                    </h3>
                    <div class="row h-75">
                        <div class="col-12">
                            <select class="custom-select participant-selector h-100" asp-for="@Model.SelectedParticipants" multiple="multiple">
                                @foreach (var p in Model.SelectableParticipants)
                                {
                                    <option value="@p.Value">@p.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12" style="text-align: center;">
                <a class="btn btn-dark mt-2" asp-page="/Trip" asp-route-id="@Model.Id">
                    Back to trip
                </a>
            </div>
        </div>
    </body>
</form>
</html>