@page
@model MyTravelBook.Web.Pages.TripModel
@{
    //ViewData["Title"] = Model.Trip.TripName;
}
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="trip-background background">
    <div class="row no-gutters bubble-row">
        <div class="col-3 glassy mr-auto">
            <div class="container">
                <h3>
                    Trip details
                </h3>
                <h6>
                    Documents
                </h6>
                <div class="check-boxes">
                </div>


            </div>
        </div>
        <div class="col-5 glassy ml-auto mr-auto">
            <div class="container">
                <h1>
                    @Model.Trip.TripName
                </h1>
                <h5>
                    Overall
                </h5>
                <div class="row no-gutters">
                    <div class="col-3">
                        Location
                    </div>
                    <div class="col-2">
                        Nights
                    </div>
                    <div class="col-1">
                        Price
                    </div>
                    <div class="col-2">
                        Travel costs
                    </div>
                    <div class="col-2">
                        Expenses
                    </div>
                    <div class="col-2">
                        In total
                    </div>
                </div>
                @foreach (var travel in Model.Travels.Travels)
                {
                    <div class="row no-gutters">
                        <div class="col-3">
                            @travel.Destination
                        </div>
                        <div class="col-2">
                            @Model.GetNightsAtDestination(travel.Destination)
                        </div>
                        <div class="col-1">
                            @Model.GetAccommodationFees(travel.Destination) €
                        </div>
                        <div class="col-2">
                            @travel.CostPerCapita €
                        </div>
                        <div class="col-2">
                            @Model.GetExpenses(travel.Destination) €
                        </div>
                        <div class="col-2">
                            @Model.GetTotal(travel.Destination, travel) €
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="col-3 glassy ml-auto">
            <div class="container">
                <h3>
                    Participants
                </h3>
                @foreach (var user in Model.Participants.FriendsList)
                {
                    <div>
                        <h5>
                            @user.Nickname
                        </h5>
                    </div>
                }
                <button class="add-btn btn btn-dark">
                    Add
                </button>
            </div>

        </div>
    </div>
    <div class="title-row row no-gutters mt-5">
        <h1 class="col-12">
            Trip Diary
        </h1>
    </div>
    <div class="row no-gutters bubble-row mt-5">
        <div class="col-3 glassy mr-auto">
            <div class="container">
                <h3>
                    Travels
                </h3>
                <div class="row no-gutters">
                    <div class="col-4 ml-auto mr-auto">
                        Departure
                    </div>
                    <div class="col-1 ml-auto mr-auto">

                    </div>
                    <div class="col-4 ml-auto mr-auto">
                        Destination
                    </div>
                </div>
                @foreach (var travel in Model.Travels.Travels)
                {
                    <a asp-page="Details/TravelDetails" asp-route-id="@travel.Id" class="row no-gutters selectable-row">
                        <div class="col-4 ml-auto mr-auto">
                            @travel.Departure
                        </div>
                        <div class="col-1 ml-auto mr-auto">
                            ->
                        </div>
                        <div class="col-4 ml-auto mr-auto">
                            @travel.Destination
                        </div>
                    </a>
                }
                <a class="btn btn-dark mt-2" asp-page="Add/Travel" asp-route-id="@Model.Id">
                    Add new
                </a>
            </div>
        </div>
        <div class="col-3 glassy ml-auto mr-auto">
            <div class="container">
                <h3>
                    Accommodations
                </h3>
                <div class="row no-gutters">
                    <div class="col-3 ml-auto mr-auto">
                        Location
                    </div>
                    <div class="col-3 ml-auto mr-auto">
                        Nights
                    </div>
                </div>
                @foreach (var accommodation in Model.Accommodations.Accommodations)
                {
                    <a asp-page="Details/AccommodationDetails" asp-route-id="@accommodation.Id" class="row no-gutters selectable-row">
                        <div class="col-3 ml-auto mr-auto">
                            @accommodation.Location
                        </div>
                        <div class="col-3 ml-auto mr-auto">
                            @Model.GetNightsOfAccommodation(accommodation.Id)
                        </div>
                    </a>
                }
                <a class="btn btn-dark mt-2" asp-page="Add/Accommodation" asp-route-id="@Model.Id">
                    Add new
                </a>
            </div>
        </div>
        <div class="col-3 glassy ml-auto">
            <div class="container">
                <h3>
                    Expenses
                </h3>
                <div class="row no-gutters">
                    <div class="col-2 ml-auto mr-auto">
                        Location
                    </div>
                    <div class="col-4 ml-auto mr-auto">
                        Name
                    </div>
                    <div class="col-2 ml-auto mr-auto">
                        Price
                    </div>
                </div>
                @foreach (var expense in Model.Expenses.Expenses)
                {
                    <div class="row no-gutters selectable-row">
                        <div class="col-2 ml-auto mr-auto">
                            @expense.Location
                        </div>
                        <div class="col-4 ml-auto mr-auto">
                            @expense.ExpenseName
                        </div>
                        <div class="col-2 ml-auto mr-auto">
                            @expense.Price €
                        </div>
                    </div>
                }
                <a class="btn btn-dark mt-2" asp-page="Add/Expense" asp-route-id="@Model.Id">
                    Add new
                </a>
            </div>
        </div>
    </div>
</body>
</html>

