@page
@model MyTravelBook.Web.Pages.TripModel
@{
    //ViewData["Title"] = Model.Trip.TripName;
}
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="trip-background background">
    <div class="row no-gutters bubble-row">
        <div class="col-3 glassy mr-auto">
            <div class="container">
                <h3>
                    Trip Details
                </h3>
                <ul style="text-align: left;">
                    <li>
                        Starts: @Model.Trip.Starts.ToShortDateString()
                    </li>
                    <li>
                        Ends: @Model.Trip.Ends.ToShortDateString()
                    </li>
                </ul>
                <h5>
                    Description
                </h5>
                <p style="text-align: left;">
                    @Model.Trip.Description
                </p>
            </div>
        </div>
        <div class="col-5 glassy ml-auto mr-auto">
            <div class="container">
                <h1>
                    @Model.Trip.TripName
                </h1>
                <h5>
                    Overall
                </h5>
                <div class="row no-gutters">
                    <div class="col-3">
                        Location
                    </div>
                    <div class="col-2">
                        Nights
                    </div>
                    <div class="col-1">
                        Price
                    </div>
                    <div class="col-2">
                        Travel costs
                    </div>
                    <div class="col-2">
                        Expenses
                    </div>
                    <div class="col-2">
                        In total
                    </div>
                </div>
                @foreach (var location in Model.TripOverall)
                {
                    <div class="row no-gutters">
                        <div class="col-3">
                            @location.Location
                        </div>
                        <div class="col-2">
                            @location.Nights
                        </div>
                        <div class="col-1">
                            @location.AccommodationPrice €
                        </div>
                        <div class="col-2">
                            @location.TravelCosts €
                        </div>
                        <div class="col-2">
                            @location.Expenses €
                        </div>
                        <div class="col-2">
                            @location.Total €
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="col-3 glassy ml-auto">
            <div class="container">
                <h3>
                    Participants
                </h3>
                @foreach (var user in Model.Participants.FriendsList)
                {
                    <div>
                        <h5>
                            @user.Nickname
                        </h5>
                    </div>
                }
                <button type="button" class="add-btn btn btn-dark" data-toggle="modal" data-target="#addParticipant">
                    Add
                </buttontype="button">
            </div>

        </div>
    </div>
    <div class="title-row row no-gutters mt-5">
        <h1 class="col-12">
            Trip Diary
        </h1>
    </div>
    <div class="row no-gutters bubble-row mt-5">
        <div class="col-3 glassy mr-auto">
            <div class="container">
                <h3>
                    Travels
                </h3>
                <div class="row no-gutters">
                    <div class="col-4 ml-auto mr-auto">
                        Departure
                    </div>
                    <div class="col-1 ml-auto mr-auto">

                    </div>
                    <div class="col-4 ml-auto mr-auto">
                        Destination
                    </div>
                </div>
                @foreach (var travel in Model.Travels.Travels)
                {
                    <a asp-page="Details/TravelDetails" asp-route-id="@travel.Id" class="row no-gutters selectable-row">
                        <div class="col-4 ml-auto mr-auto">
                            @travel.Departure
                        </div>
                        <div class="col-1 ml-auto mr-auto">
                            ->
                        </div>
                        <div class="col-4 ml-auto mr-auto">
                            @travel.Destination
                        </div>
                    </a>
                }
                <a class="btn btn-dark mt-2" asp-page="Add/Travel" asp-route-id="@Model.Id">
                    Add new
                </a>
            </div>
        </div>
        <div class="col-3 glassy ml-auto mr-auto">
            <div class="container">
                <h3>
                    Accommodations
                </h3>
                <div class="row no-gutters">
                    <div class="col-3 ml-auto mr-auto">
                        Location
                    </div>
                    <div class="col-3 ml-auto mr-auto">
                        Nights
                    </div>
                </div>
                @foreach (var accommodation in Model.Accommodations.Accommodations)
                {
                    <a asp-page="Details/AccommodationDetails" asp-route-id="@accommodation.Id" class="row no-gutters selectable-row">
                        <div class="col-3 ml-auto mr-auto">
                            @accommodation.Location
                        </div>
                        <div class="col-3 ml-auto mr-auto">
                            @accommodation.Nights
                        </div>
                    </a>
                }
                <a class="btn btn-dark mt-2" asp-page="Add/Accommodation" asp-route-id="@Model.Id">
                    Add new
                </a>
            </div>
        </div>
        <div class="col-3 glassy ml-auto">
            <div class="container">
                <h3>
                    Expenses
                </h3>
                <div class="row no-gutters">
                    <div class="col-2 ml-auto mr-auto">
                        Location
                    </div>
                    <div class="col-4 ml-auto mr-auto">
                        Name
                    </div>
                    <div class="col-2 ml-auto mr-auto">
                        Price
                    </div>
                </div>
                @foreach (var expense in Model.Expenses.Expenses)
                {
                    <a asp-page="Details/ExpenseDetails" asp-route-id="@expense.Id" class="row no-gutters selectable-row">
                        <div class="col-2 ml-auto mr-auto">
                            @expense.Location
                        </div>
                        <div class="col-4 ml-auto mr-auto">
                            @expense.ExpenseName
                        </div>
                        <div class="col-2 ml-auto mr-auto">
                            @expense.Price €
                        </div>
                    </a>
                }
                <a class="btn btn-dark mt-2" asp-page="Add/Expense" asp-route-id="@Model.Id">
                    Add new
                </a>
            </div>
        </div>
    </div>
</body>
<div class="modal fade" id="addParticipant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add friend</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <h3>
                        Participants
                    </h3>
                    @if (Model.SelectableParticipants.Count() == 0)
                    {
                        <h6>
                            It looks like you have no friends.
                        </h6>
                    }
                    else
                    {
                        <select class="custom-select participant-selector h-75" asp-for="@Model.SelectedParticipants" multiple="multiple">
                            @foreach (var p in Model.SelectableParticipants)
                            {
                                <option style="color: black;" value="@p.Value">@p.Text</option>
                            }
                        </select>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add to trip</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>

